.video {
    border: none;
    margin-top: 20px;
    text-align: center;

    .watermark {
        width: 100%;
        height: 90px;
        margin-top: 50%;
        position: absolute;

        h3 {
            text-transform: uppercase;
            font-weight: bold;
            color: red;
        }
    }

    &.available {
        border: thin solid #000;

        .watermark {
            background: url('/assets/images/play-off.png') no-repeat center top / 90px 90px;
        }

        &:hover {
            border: thin solid green;

            .watermark {
                background-image: url('/assets/images/play-on.png');
            }
        
        }
    }

    &.unavailable {
        border: thin solid red;
    }
    
    img {
        width: 100%;
    }
}   